*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}
#reg-img{
    position: absolute;
    top: 230px;
    left: 120px;
    height: 100px;
}
h1{
    position: absolute;
    top: 350px;
    left: 50px;
    color: white;
    font-size: 350%;
    opacity: 90%;
}
.header,.table-sec{
    background-image: url('rose-petals.svg');
    background-size: cover;
    background-attachment:scroll;
    height: 100vh;
}
.header-container{
    position: absolute;
    background-color: white;
    width: 60%;
    height: 80%;
    left: 30%;
    top: 10%;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 6px 2px grey;
}
.name-field{
    padding-top: 90px;
    /* padding-left: 30px;
    padding-right: 30px; */
}
input,select{
    border: none;
    background-color: #ffbdc8;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
input:focus,
select:focus{
    outline: none;
}
input::placeholder{
    color: white;
}
label{
    font-weight: 500;
}
input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #ff3658;
    position: relative;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top:3px;
    left: 2px;
}
input[type="checkbox"]{
    position: relative;
    top: 1.5px;
    right: 2px;
}
input[type="radio"]:checked{
    background-color: #ff163d;
}
.radio-lab{
    background-color: #ffbdc8;
    opacity: 80%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px grey;
    color: white;

}
h2{
    color: white;
    padding: 20px;
}
th,td{
    color: white;
}
.edit,.delete{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(180deg,#ff163d,#ff6780);
    transition: background-image,0.4s;
}
.edit:hover,.delete:hover{
    background-image: linear-gradient(180deg,#ff6780,#ff163d);
}